---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Overview from "../components/Overview.astro";
import Disclaimer from "../components/Disclaimer.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <div class="min-h-screen flex flex-col">
    <Header />
    <main>
      <!-- <Disclaimer /> -->
      <Hero />
      <Features />
      <Overview />
    </main>
    <Footer />
  </div>
</Layout>
